.sidenav {
    background-color: rgb(48, 48, 180);
    width: 150px;
}

.sidenav a {
    color: rgb(255, 255, 255);
}

.sidenav i{
    padding-right: 10px;
    align-items: flex-start;
}

.content {
    padding: 16px;
    background-color: rgb(255, 255, 255);
    color: black;
}